/* Estilo para el contenedor del login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://img.freepik.com/fotos-premium/planeta-violeta-cielo-violeta-montanas-al-fondo_421632-38149.jpg);
    background-size: cover;
}

/* Estilo para el formulario */
form {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para los inputs */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Placeholder */
input::placeholder {
    color: #888;
}

/* Estilo para el botón de iniciar sesión */
.login-button {
    width: 100%;
    padding: 10px;
    background-color: #e91e63; /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efecto hover en el botón */
.login-button:hover {
    background-color: #d81b60;
}
